<section>
  <div class="container-flex grey-container pt-5 pb-5 mx-4" id="contact">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <h1>¡Escribeme y hablamos!</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <span
          >Si tienes alguna propuesta o te gustaria que estemos en contacto, por
          favor completa este formulario y te respondere a la brevedad. 😉</span
        >
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <form>
          <div class="elemento">
            <label class="form-label">Email:</label>
            <input type="email" class="form-control" aria-describedby="email" />
          </div>

          <div class="elemento">
            <label class="form-label">*Asunto: </label>
            <input type="text" aria-label="Asunto" class="form-control" />
          </div>
          <div class="elemento">
            <label class="form-label">*Mensaje: </label>
            <textarea rows="3" class="form-control" placeholder=""></textarea>
          </div>
          <div class="btn-contact d-flex justify-content-center">
            <button type="button" class="btn btn-outline-primary">
              Enviar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
