<section>
  <div
    class="container-flex grey-container pt-5 pb-5 mx-4"
    id="contact"
    *ngFor="let contacto of contacto"
  >
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <h1>¡Escribeme y hablamos!</h1>
        <div class="tools-edit">
          <svg
            data-bs-toggle="modal"
            (click)="openEdit(contentEdit, contacto)"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-pencil-square"
            viewBox="0 0 16 16"
          >
            <path
              d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
            />
            <path
              fill-rule="evenodd"
              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
            />
          </svg>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <span
          >Si tienes alguna propuesta o te gustaria que estemos en contacto, por
          favor completa este formulario y te respondere a la brevedad. 😉</span
        >
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-12">
        <form class="formulario">
          <div class="row d-flex justify-content-center">
            <div class="col-xl-4 col-lg-6 col-md-8 col-sm-8 col-10 elemento">
              <label class="form-label"
                >Email: {{ contacto.mail_contacto }}</label
              >
              <input
                type="email"
                class="form-control"
                aria-describedby="email"
              />
            </div>
          </div>

          <div class="row d-flex justify-content-center">
            <div class="col-xl-4 col-lg-6 col-md-8 col-sm-8 col-10 elemento">
              <label class="form-label">*Asunto: </label>
              <input type="text" aria-label="Asunto" class="form-control" />
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-xl-4 col-lg-6 col-md-8 col-sm-8 col-10 elemento">
              <label class="form-label">*Mensaje: </label>
              <textarea rows="3" class="form-control" placeholder=""></textarea>
            </div>
          </div>
          <div class="btn-contact d-flex justify-content-center">
            <button type="button" class="btn btn-outline-primary">
              Enviar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Modal Editar Elemento-->
<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Editar: Contacto</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm" novalidate>
      <div class="form-group">
        <label for="mail_contacto">Email:</label>
        <div class="input-group">
          <input formControlName="mail_contacto" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <label for="linkedin_url">Linkedin:</label>
        <div class="input-group">
          <input formControlName="linkedin_url" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <label for="github_url">Github:</label>
        <div class="input-group">
          <input formControlName="github_url" class="form-control" />
        </div>
      </div>
    </form>
    <div class="modal-footer editfoot">
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="modal.close('Save click')"
      >
        Cancelar
      </button>
      <button
        *ngIf="isAdmin"
        data-dismiss="modal"
        class="btn btn-primary"
        (click)="onSave()"
      >
        Guardar Cambios
      </button>
      <button
        *ngIf="!isAdmin"
        data-dismiss="modal"
        class="btn btn-primary"
        (click)="modal.dismiss('Cross click')"
        (click)="open(noAuthorized)"
      >
        Guardar Cambios
      </button>
    </div>
  </div>
</ng-template>

<ng-template #noAuthorized let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Usuario no autorizado</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <p>Debes ser administrador para realizar esta operación.</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-danger"
      (click)="modal.close('Save click')"
    >
      Cerrar
    </button>
  </div>
</ng-template>
