<section
  class="container-flex grey-container mx-4 my-4 pt-3 pb-5"
  id="experience"
>
  <div class="row mb-3">
    <div class="col-sm-4 col-md-3 d-sm-block">
      <div class="d-flex justify-content-center pt-3">
        <h1>Experiencia</h1>
      </div>
    </div>
    <div class="col-sm-8 col-md-9 d-none d-sm-block">
      <div class="d-flex justify-content-end tools-edit">
        <svg
          (click)="open(content)"
          data-bs-toggle="modal"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          class="bi bi-plus-circle"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
          />
          <path
            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
          />
        </svg>
      </div>
    </div>
  </div>
  <div class="row pt-3" *ngFor="let experiencia of experiencia">
    <div class="col-sm-3 d-none d-sm-block pt-3">
      <div class="d-flex justify-content-center">
        <div class="img-container">
          <img
            class="img-inside-container"
            src="{{ experiencia.img }}"
            alt="empty_img"
          />
        </div>
      </div>
    </div>
    <div class="col-sm-9 d-sm-block col-xs-12">
      <div class="row">
        <div class="d-flex justify-content-between">
          <div>
            <h3>{{ experiencia.empresa }}</h3>
          </div>
          <div class="tools-edit">
            <svg
              (click)="openEdit(contentEdit, experiencia)"
              data-bs-toggle="modal"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              class="bi bi-pencil-square"
              viewBox="0 0 16 16"
            >
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
              />
              <path
                fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
              />
            </svg>
            <svg
              (click)="openDelete(contentDelete, experiencia)"
              data-bs-toggle="modal"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              class="bi bi-trash"
              viewBox="0 0 16 16"
            >
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
              />
              <path
                fill-rule="evenodd"
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="row">
        <p>{{ experiencia.puesto }}</p>
      </div>
      <div class="row">
        <p>
          {{ experiencia.descripcion }}
        </p>
      </div>
      <div class="row">
        <div class="col-xxl-3 col-xl-3 col-lg-4 col-sm-6 col-xs-12">
          <p>Inicio: {{ experiencia.fecha_inicio }}</p>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-4 col-sm-6 col-xs-12">
          <p>
            Finalizacion:
            {{ experiencia.fecha_finalizacion }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal Crear Nuevo Elemento-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Añadir: Experiencia</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">
        <label>Empresa:</label>
        <div class="input-group">
          <input
            class="form-control"
            name="empresa"
            #empresa="ngModel"
            ngModel
            required
          />
        </div>
      </div>
      <div class="form-group">
        <label for="puesto">Puesto:</label>
        <div class="input-group">
          <input id="puesto" name="puesto" class="form-control" ngModel />
        </div>
      </div>
      <div class="form-group">
        <label for="descripcion">Descripción:</label>
        <div class="input-group">
          <input
            id="descripcion"
            name="descripcion"
            class="form-control"
            ngModel
          />
        </div>
      </div>
      <div class="form-group">
        <label for="fecha_inicio">Fecha de inicio:</label>
        <div class="input-group">
          <input
            id="fecha_inicio"
            name="fecha_inicio"
            class="form-control"
            ngModel
          />
        </div>
      </div>
      <div class="form-group">
        <label for="fecha_finalizacion">Fecha de finalizacion:</label>
        <div class="input-group">
          <input
            id="fecha_finalizacion"
            name="fecha_finalizacion"
            class="form-control"
            ngModel
          />
        </div>
      </div>
      <div class="form-group">
        <label for="img">Imagen:</label>
        <div class="input-group">
          <input id="img" name="img" class="form-control" ngModel />
          <!--           <input
            type="file"
            alife-file-to-base64
            (onFileChanged)="onFileChanged($event)"
            id="img"
            name="img"
            class="form-control"
            ngModel
          /> -->
        </div>
      </div>
      <br />

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="c('Save click')"
        >
          Cancelar
        </button>
        <button type="submit" class="btn btn-primary" (click)="c('Save click')">
          Guardar Cambios
        </button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Modal Editar Elemento-->
<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Editar: Experiencia</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm" novalidate>
      <div class="form-group">
        <label for="empresa">Empresa:</label>
        <div class="input-group">
          <input formControlName="empresa" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <label for="puesto">Puesto:</label>
        <div class="input-group">
          <input formControlName="puesto" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <label for="descripcion">Descripción:</label>
        <div class="input-group">
          <!-- <input formControlName="descripcion" class="form-control" /> -->
          <textarea
            rows="5"
            formControlName="descripcion"
            class="form-control"
          ></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="fecha_inicio">Fecha de inicio:</label>
        <div class="input-group">
          <input formControlName="fecha_inicio" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <label for="fecha_finalizacion">Fecha de finalizacion:</label>
        <div class="input-group">
          <input formControlName="fecha_finalizacion" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <label for="img">Imagen:</label>
        <div class="input-group">
          <input formControlName="img" class="form-control" />
          <!--           <input
            type="file"
            alife-file-to-base64
            (onFileChanged)="onFileChanged($event)"
            formControlName="img"
            class="form-control"
            accept="image/png,image/jpg"
          /> -->
        </div>
      </div>
    </form>

    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="modal.close('Save click')"
      >
        Cancelar
      </button>
      <button data-dismiss="modal" class="btn btn-primary" (click)="onSave()">
        Guardar Cambios
      </button>
    </div>
  </div>
</ng-template>

<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Eliminar elemento</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <p>
      ¿Estás seguro de que deseas eliminar este elemento? Este proceso no puede
      deshacerse.
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-danger"
      (click)="modal.close('Save click')"
    >
      Cancelar
    </button>
    <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">
      Eliminar
    </button>
  </div>
</ng-template>
